.search_bar {
box-shadow: 0 0 18px rgba(70,70,40,.255);
border-radius: 50px;
display: table;
width: 80%;
height: 40px;
max-width: 400px;
margin: 10px auto;
border:0;
outline:none;
font-weight:560;
animation:search-bar 1s;
}
@keyframes search-bar
{
0% {max-width: 150px;}
100% {max-width: 400px;}
}
